---
import { Icon } from 'astro-icon';
import { companyContact } from '@/data/company-contact';
import { routes } from '@/data/routes';

const { linkedin, facebook, twitter } = companyContact.socials;
---

<div class="navigation-panel">
	<Icon name="logoWhite" class="navigation-panel__logo" />
	<div class="navigation-panel__links">
		{routes.map(({ href, label }) => <a href={href}>{label}</a>)}
	</div>

	<div class="navigation-panel__socials">
		<a href={linkedin} aria-label="Link to company's linkedin profile">
			<Icon name="brandico:linkedin" />
		</a>

		<a href={facebook} aria-label="Link to company's facebook profile">
			<Icon name="brandico:facebook" />
		</a>

		<a href={twitter} aria-label="Link to company's twitter profile">
			<Icon name="brandico:twitter" />
		</a>
	</div>
</div>

<style>
	.navigation-panel {
		display: flex;
		flex-direction: column;
		gap: 3.7rem;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	.navigation-panel__logo {
		max-width: 140px;
	}

	.navigation-panel__links {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.navigation-panel__socials {
		display: none;
	}

	.navigation-panel__socials a {
		width: 3.5rem;
		height: 3.5rem;
		padding: 0.8rem;
		top: 0;
		right: 0;
		border-radius: 50%;
		color: var(--foreground);
		background-color: var(--muted-background);
	}

	.navigation-panel__socials svg {
		width: 2rem;
		height: 2rem;
	}

	a {
		color: var(--background);
		text-align: center;
	}

	a:hover {
		text-decoration: underline;
	}

	@media (min-width: 1024px) {
		.navigation-panel {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.navigation-panel__links {
			flex-direction: row;
			gap: 3rem;
		}
	}

	@media (min-width: 1280px) {
		.navigation-panel__socials {
			display: flex;
			gap: 1.5rem;
		}
	}
</style>
