---
import { Icon } from 'astro-icon';
import type { Service } from '@/interfaces/Service';
import LinkWithArrow from '@ui/LinkWithArrow.astro';

interface Props extends Service {}

const { title, icon, href, headingVariant, bgColor, ...rest } = Astro.props;
---

<div class:list={['service', 'card', `card-${bgColor}`]}>
	<div class="service__header">
		<h3 class={`heading heading-${headingVariant}`}>{title}</h3>
	</div>
	<div class="service__link">
		<LinkWithArrow href={href} {...rest} ariaLabel={`Learn more about ${title}`}>
			<span class="service__link__label">Learn more</span>
		</LinkWithArrow>
	</div>
	<Icon name={icon} class="service__image" />
</div>

<style>
	.service {
		display: grid;
		gap: 3rem;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'header header header header .'
			'link . image image image';
	}

	.service__header {
		grid-area: header;
	}

	.service__link {
		grid-area: link;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

	.service__image {
		grid-area: image;
	}

	.service__link__label {
		display: none;
	}

	@media (min-width: 768px) {
		.service {
			grid-template-columns: 1fr auto minmax(100px, 250px);
			grid-template-rows: 2fr 1fr;
			grid-template-areas:
				'header . image'
				'link . image';
		}

		.service__link {
			display: flex;
			margin-top: 4rem;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.service__link__label {
			display: block;
		}

		.service__image {
			width: 100%;
			height: 100%;
		}
	}

	@media (min-width: 1024px) {
		.service {
			display: grid;
			gap: 30px;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: auto 1fr;
			grid-template-areas:
				'header header header header .'
				'link . image image image';
		}

		.service__link__label {
			display: none;
		}

		.service__link {
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
		}
	}

	@media (min-width: 1280px) {
		.service {
			grid-template-columns: 1fr auto minmax(100px, 250px);
			grid-template-rows: 2fr 1fr;
			grid-template-areas:
				'header . image'
				'link . image';
		}

		.service__link {
			display: flex;
			margin-top: 40px;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.service__link__label {
			display: block;
		}

		.service__image {
			width: 100%;
			height: 100%;
		}
	}
</style>
